*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(32, 32, 32);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
}
.item:hover{
    color: #DA2863;
    cursor: pointer;
}
.item{
    margin: 10px;
    padding: 7px;
    font-size: 18px;
}
.logo-photo{
    width: 200px; 
}
       /*main*/

.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100dvb;
    align-items: center;
    background-image: url('./photos/background.png'), linear-gradient(45deg, rgb(34, 34, 34), black);
    color: white;
}      
.banner-img{
    width: 300px;
}
.title{
    font-size: 55px;
    font-weight: bold;
}